ui/target/
ui/.classpath
ui/.project
ui/.settings/
ui/src/main/resources/static/
ui/angular/node_modules/
ui/angular/dist/
service-discovery/.classpath
service-discovery/.project
service-discovery/.settings/
service-discovery/target
